<!DOCTYPE html>
<html>
<head>
    <title>Stocks</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" />
</head>
<body class="bg-gray-100 h-screen">

<nav class="bg-blue-500 py-3 px-4 text-white flex justify-between items-center">
    <h1 class="font-bold text-2xl">Wall Street Bets</h1>
    <a href="/">Home</a>


    {% if auth.id is defined %}
        <a href="/portfolio">Portfolio</a>
        <div class="flex mx-4">
            <div class="mr-3">
                <p class="text-white font-bold">Welcome, {{ auth.name }}</p>
            </div>
            <div class="mr-3">
                <p class="text-white font-bold"> | </p>
            </div>
            <div>
                <a href="/logout" class="text-white font-bold">Sign Out</a>
            </div>
        </div>
    {% else %}
        <div class="flex justify-between">
            <a href="/loginForm" class="text-white font-bold">Sign In</a>
        </div>
    {% endif %}
</nav>

<div class="flex justify-between items-center py-2 px-4">
    <form action="/buyForm" method="get">
        <label>
            <input type="text" name="stockSymbol" placeholder="Search" class="border rounded py-1 px-2 focus:outline-none focus:shadow-outline" />
        </label>
        <button type="submit" class="bg-blue-500 rounded py-1 px-2 text-white font-bold focus:outline-none focus:shadow-outline">
            Search
        </button>
    </form>
</div>

<div class="flex items-center justify-center min-h-screen bg-gray-900">
    {% block search %}
    <div class="col-span-12">
        <div class="overflow-auto lg:overflow-visible ">
            <table class="table text-gray-400 border-separate space-y-6 text-sm">
                <thead class="bg-gray-800 text-gray-500">
                <tr>
                    <th class="p-3">Stock Symbol</th>
                    <th class="p-3 text-left">Company Name</th>
                    <th class="p-3 text-left">Price</th>
                    <th class="p-3 text-left">Previous Close Price</th>
                    <th class="p-3 text-left">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}
                    <tr class="bg-gray-800">
                        <td class="p-3">
                            <div class="flex align-items-center">
                                <div class="ml-3">
                                    <div class="">{{ stock.getStockSymbol }}</div>

                                </div>
                            </div>
                        </td>
                        <td class="p-3">
                            {{ stock.getCompanyName }}
                        </td>
                        <td class="p-3 font-bold">
                            {{ stock.getCurrentPrice }}
                        </td>
                        <td class="p-3">
                            <span class=" text-gray-50 rounded-md px-2">{{ stock.getPreviousClosePrice }}</span>
                        </td>
                        <td class="p-3 ">
                            <a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">Buy</i>
                            </a>
                            <a href="#" class="text-gray-400 hover:text-gray-100  ml-2">
                                <i class="material-icons-round text-base">Sell</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
</div>
</body>
</html>
