{% extends "home.twig" %}

{% block search %}
    <div class="col-span-12">
        <div class="overflow-auto lg:overflow-visible ">
            <table class="table text-gray-400 border-separate space-y-6 text-sm">
                <div class="bg-gray-800 text-gray-500">Money in wallet: {{ money|number_format(2,".",",") }} $</div>
                <thead class="bg-gray-800 text-gray-500">
                <tr>
                    <th class="p-3">Stock Symbol</th>
                    <th class="p-3 text-left">Stock Amount</th>
                    <th class="p-3 text-left">Average Purchase Price (USD)</th>
                    <th class="p-3 text-left">Current Price (USD)</th>
                    <th class="p-3 text-left">Profit \ Loss (USD)</th>
                    <th class="p-3 text-left">Total Value (USD)</th>
                    <th class="p-3 text-left">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}
                    <tr class="bg-gray-800">
                        <td class="p-3">
                            <div class="flex align-items-center">
                                <div class="ml-3">
                                    <div class="">{{ stock.getStockSymbol }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="p-3">
                            {{ stock.getStockAmount }}
                        </td>
                        <td class="p-3 font-bold">
                            {{ stock.getAveragePrice|number_format(2,".",",") }}
                        </td>
                        <td class="p-3 font-bold">
                            {{ marketData.getStocks[stock.getStockSymbol].getCurrentPrice | number_format(2,".",",")}}
                        </td>
                        <td class="p-3 font-bold">
                            {{ statistics[stock.getStockSymbol].getProfitLoss | number_format(2,".",",") }}
                        </td>
                        <td class="p-3 font-bold">
                            {{ statistics[stock.getStockSymbol].getTotalValue | number_format(2,".",",") }}
                        </td>
                        <td class="p-3 ">
                            <a href="/orderForm?stockSymbol={{ stock.getStockSymbol }}" class="text-gray-400 hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">Buy</i>
                            </a>
                            <a href="/orderForm?stockSymbol={{ stock.getStockSymbol }}" class="text-gray-400 hover:text-gray-100  ml-2">
                                <i class="material-icons-round text-base">Sell</i>
                            </a>
                            <a href="/transactions?stockSymbol={{ stock.getStockSymbol }}" class="text-gray-400 hover:text-gray-100  ml-2">
                                <i class="material-icons-round text-base">Transactions</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}